
.swipeArea{
    position: relative;
}
.controlArea{
  position: absolute;
  top: 40px;
  right:-40px;
}

.dashboard{
    height:120px;
    margin:3em 0;
}

.dashboard-item{
    width:30%;
    height:100%;
    margin-left:5%;
    display:inline-block;
    background-color: #666666;
    border-radius:0.2em;
}

.dashboard-item:nth-child(1){
    margin-left:0;
}
.dashboard-item p{
    margin:0;
    margin-top:-0.5em;
    line-height:120px;
    color:white;
    text-align: center;
}

.dashboard-item p .data{
    font-size:3em;
    padding:0 0.5em;
}


.attendance-list-nav ul{
    list-style-type:none;
    display:inline;
    margin:0;padding:0;
}
.attendance-list-nav ul li{
    display:inline;
    border: none;
    padding:0.5em 1.5em;
    margin-right:0.5em;
    cursor: pointer;
}
.attendance-list-nav ul li.is-selected {
    background-color: #fff;
}

tr.is-leave td{
    color:#500;
}

.input-card{
    width:200px;
    height:34px;
}

.switch {
  margin-bottom:-10px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4a4;
  border-radius: 34px;
  -webkit-transition: .4s;
  transition: .4s; 
  z-index:-1;
  box-shadow: inset 0 0 3px #000000;
}
input:checked + .slider {
  background-color: #f22;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider:after {
  position: absolute;
  font-size:12px;
  content: "簽到";
  top: 0;
  left: 31px;
  line-height:34px;
  right: 4px;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  z-index:-1;
}

input:checked + .slider:after {
  position: absolute;
  font-size:12px;
  content: "簽退";
  top: 0;
  left: 4px;
  right: 0;
  bottom: 0;
  line-height:34px;

  -webkit-transition: .4s;
  transition: .4s;
}