
.swipeArea{
    position: relative;
}
.controlArea{
  position: absolute;
  top: 0px;
  right:-40px;
}

.dashboard{
    margin-top: 46px;
    margin-bottom: 36px;
}

.dashboard-item{
    width:273px;
    height:144px;
    margin-left:48px;
    display:inline-block;
    background-color:white;
    border-radius: 4px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.29);
}

.dashboard-item:nth-child(1){
    margin-left:0;
}
.dashboard-item p{
    margin:0;
    line-height:144px;
    font-size:16px;
    padding:0 46px;
    color:var(--color-gray);
    text-align: center;
}

.dashboard-item p .data{
    font-size:34px;
    padding-left:46px;
}


.attendance-list-nav{
    height:26px;
}
.attendance-list-nav ul{
    list-style-type:none;
    display:inline;
    margin:0;padding:0;
}
.attendance-list-nav ul li{
    position: relative;
    display:inline;
    border: none;
    font-size:14px;
    padding:6px 28px;
    margin-right:0.5em;
    cursor: pointer;
}
.attendance-list-nav ul li.is-selected {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.29);
}

/* amazing solution to cover the bottom shadow of page tabs */
.attendance-list{
    position: relative;
    z-index:2;
}
.attendance-list-nav ul li.is-selected:before{
    position: absolute;
    content:"";
    height:10px;
    width:100%;
    background-color: #fff;
    z-index:4;
    left:0px;
    bottom:-5px;
}

tr.is-leave td{
    color:var(--color-red)
}
.attendanceTbody .cancelLeaveBtn{
    border-color:var(--color-red);
    background-color:var(--color-red);
    color:white;
}

.attendanceTbody .setLeaveBtn{
    border-color:var(--color-red);
    color:var(--color-red);
}

.attendanceTbody .setCardBtn{
    border-color:var(--color-blue);
    background-color:var(--color-blue);
    color:white;
}
.input-card{
    width:164px;
    height:32px;
    border: solid 0.3px var(--color-blue);
    margin-right:24px;
}




.switch {
  margin-bottom:-6px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  width:65px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6ef7e8;
  border-radius: 24px;
  -webkit-transition: .4s;
  transition: .4s; 
  z-index:-1;
  box-shadow: inset 0 0 3px #000000;
}
input:checked + .slider {
  background-color:var(--color-blue);
}

.slider:before {
  position: absolute;
  content: "";
  left: -4px;
  top:-4px;
  width: 28px;
  height: 28px;
  background-color: #ffffff;
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.5);
  border-radius:100%;
  border: solid 1px #9b9b9b;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(44px);
  -ms-transform: translateX(44px);
  transform: translateX(44px);
}

.slider:after {
  position: absolute;
  font-size:13px;
  content: "簽到";
  top: -4px;
  left: 28px;
  line-height:34px;
  right: 4px;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  z-index:-1;
}

input:checked + .slider:after {
  position: absolute;
  font-size:13px;
  line-height:34px;
  content: "簽退";
  top: -4px;
  left: 8px;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.attendance-table tr td:nth-child(1){
    width:100px;
}
.attendance-table tr td:nth-child(2){
    width:100px;
}
.attendance-table tr td:nth-child(3){
    width:100px;
}
.attendance-table tr td:nth-child(4){
    width:100px;
}
.attendance-table tr td:nth-child(5){
    width:250px;
}

