
.check-data{
    height:120px;
}

.check-data-item{
    width:33%;
    height:100%;
    position: relative;
    display:inline-block;
    /* border: 1px solid #000; */
}

.check-data-item .title{
    position:absolute;
    top:0;
    left:20%;
}

.check-data-item p{
    position:absolute;
    right:15%;
    bottom:0;
}

.check-data-item p .data{
    font-size:3em;
    padding:0 0.5em;
}


.check-list-nav ul{
    list-style-type:none;
    display:inline;
}
.check-list-nav ul li{
    display:inline;
    border: 1px solid #000;
    padding:0 1em;
    cursor: pointer;
}