/* Fonts ---------------------------- */

@font-face {
    font-family: 'NotoSans';
    src: local('NotoSans'), url(font/NotoSans-Regular.ttf) format('truetype');
}

/* Global ---------------------------- */

* {
  box-sizing: border-box;
}



html {
  height: 100%;
  font-family: 'NotoSans';
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden; /* Prevents rubber-band scrolling of the whole "page" */
  color: var(--color);
  background-color: #fff; /* To cover OSes with no default background color */
}

body {
  margin: 0;
  height: 100%;
  display: flex;
}

a {
  color: var(--color-link);
}

h1,
h2,
h3 {
  margin-top: 0;
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-size: 1.3em;
  font-weight: normal;
}

h3 {
  font-size: 1.12em;
  font-weight: 600;
}

table {
  width: 100%;
  border-spacing: 0;
  /* border: 1px solid hsla(0,0%,0%,.08);
  border-width: 0 1px 1px 0; */
}

th,
td {
  border:none;
  text-align: left;
  padding:0.5rem;
}

td{
  border-bottom:1px solid #eeeeee;
  font-size:14px;
}

th{
  font-size:12px;
  border-bottom: 2px solid #999;
  min-width:100px;
}
th:first-child,
td:first-child{
  padding-left:2rem;
}

svg {
  fill: currentColor;
}

.no-display {
  display: none;
}


/* Content ------------------ */

.content {
  flex: 1;
  position: relative;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  background-color: var(--color-background);
}
.content.is-shown {
  visibility: visible;;
  opacity: 1;
}


/* Hacks ---------------------------- */

