.manager-list{
    min-height:651px;
    padding:12px 46px;
    width:100%;
    border-radius:4px;
    background-color:white;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.29);
}

.manager-list .search{
    height:16px;
    position: relative;
    float:right;
}

.manager-list .search input{
    position: relative;
    top:-4px;
    width:125px;
    border:solid 1px var(--color-blue);
    height:100%;
    border-radius: 10px;
}

.manager-list .search img{
    cursor: pointer;
    height:100%;
}


.manager-list .is-selected{
    background-color:rgba(0,0,0,0.2);
}
.manager-list button{
    font-size:13px;
    padding:8px 16px;
    background-color: #fff;
    border-radius: 2px;
    border:2px solid var(--color-blue);
    color :var(--color-blue);
    cursor:pointer;
    margin-right:4px;
}

.manager-list button:disabled{
    border:2px solid var(--color-gray);
    color :var(--color-gray);
    opacity: 0.3;
}


.manager-list .emptyTr td{
  height:2em;
  border:none;
}
tr:hover{
    background-color:rgba(210,210,210,0.3);
}
tr:active{
    background-color:rgba(210,210,210,0.6);
}
tr:nth-child(1):hover{
    background-color:white;
}

