.manager-list{
    min-height:651px;
    padding:12px 46px;
    width:915px;
    border-radius:4px;
    background-color:white;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.29);
}

.manager-list .search{
    float:right;
}

.manager-list .search input{
    width:125px;
    height:18px;
    border:solid 1px var(--color-blue);
    border-radius: 10px;
}

.manager-list .search svg{
    width:16px;
    height:16px;
}


.manager-list .is-selected td{
    background-color:rgba(0,0,0,0.2);
}
.manager-list button{
    font-size:13px;
    padding:8px 16px;
    background-color: #fff;
    border-radius: 2px;
    border:2px solid var(--color-blue);
    color :var(--color-blue);
    cursor:pointer;
    margin-right:4px;
}

.manager-list button:disabled{
    border:2px solid var(--color-gray);
    color :var(--color-gray);
    opacity: 0.3;
}


.manager-list .emptyTr td{
  height:2em;
  border:none;
}
tr:hover td{
    background-color:rgba(210,210,210,0.3);
}
tr:active td{
    background-color:rgba(210,210,210,0.6);
}
tr:nth-child(1):hover td{
    background-color:white;
}


.user-table tr td:nth-child(1){
    width:100px;
}
.user-table tr td:nth-child(2){
    width:100px;
}
.user-table tr td:nth-child(3){
    width:200px;
}
.user-table tr td:nth-child(4){
    width:200px;
}
.user-table tr td:nth-child(5){
    width:200px;
}


.inputCard{
    width:150px;
}
.file-tbody td.name{
    cursor:pointer;
}
.uploadDiv{
    padding-left:746px;
    padding-top:4px;
    margin-bottom:16px;
}
.upload{
    background-color:var(--color-blue);
    padding:8px 16px;
    border-radius: 2px;
    border: solid 1px var(--color-blue);
    color:var(--color-background);
    font-size:14px;
}