/* Nav */

.nav {
  width: 193px;
  color: var(--color-background);
  background-image: linear-gradient(to top,
   var(--color-blue),#1361ab);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.nav-header {
  text-align: center;
}

.nav-header-icon {
  width: 117px;
  height: 111px;
  margin:0 auto;
}

.nav-title {
  margin-top:-14px;
  font-size: 14px;
  font-weight: 500;
}

.nav-icon {
  width: 20%;
  vertical-align: middle;
  padding-right:4px;
}

.nav-button {
  width: 100%;
  height:64px;
  font-size:16px;
  text-align: center;
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: default;
  outline: none;
}

.nav-button:hover,
.nav-button:focus:not(.is-selected) {
  background-color: #145797;
}
.nav-button.is-selected {
  background-color: #3f87c7;
  box-shadow: 0 1px 4px 0 #1361ab;
}
.nav-button:active{
  background-color: #0f3e6b;
}
.nav-button.is-selected,
.nav-button.is-selected:focus {
  background-color: #3f87c7;
  box-shadow: 0 1px 4px 0 #1361ab;
}